<% content_for :title, "About | Sense | Movie recomendations on-demand" %>
<% content_for :description, "Send a text to cut through Netflix clutter and get movie picks truly made for you." %>
<% content_for :headline, "5 Examples of the Area Where Netflix is Forgetting All about Your Experience" %>
<div class="row">
  <div class="large-10 medium-10 small-10 columns small-centered">
    <div class="row padding-tb3">
      <div class="editable">
        <h1 class="text-center margin-none ">ABOUT</h1>

        <p class="margin-none text-center opacity3 margin-tb1 ">
          Originally published on medium. <a href="https://medium.com/@LeftEarpod/what-should-i-watch-5-examples-of-the-area-where-netflix-is-forgetting-all-about-your-experience-d8dc0b78c3b5#.h22n56z6k" class="text-dark text-small"><br />VIEW POST <i class="fa fa-arrow-right"></i></a>
        </p>

        <h2 class="margin-none padding-t2 opacity1 ">“What Should I Watch”: 5 Examples of the Area Where Netflix is Forgetting All about Your Experience</h2>

        <div>
          <%= image_tag("jake.jpg", class: "circle float-left margin-05 margin-none-l")%>
          <p class="opacity2 margin-none-b">
            Jake Cohn
          </p>
          <p class="opacity3 text-small margin-none-t">
            November 16, 2015 | 7 Minute read
          </p>
        </div>

        <p class="opacity1 text-big ">

          Your experience is an essence of every app, product, and website you use. Everything about that app, product, and website must come together as a whole to give you utility and a lot of the time, enjoyment.
        </p>
        <p class="opacity1 ">
          Users are now more sensitive than ever to every bit and piece of a product and they aren’t afraid to vocalize their opinions, for better or worse. Even so, there’s one aspect of a huge amount of products that has comparatively been given a pass. It’s the aspect that has paled in comparison to the others, yet is surprisingly one that you use almost every time you use the internet. There is a narrative about it as just not being very good, but it’s a very soft one that I’ve only heard because it’s a core piece of the company that I have begun to put together. The area where a great end-to-end experience is lacking is this: Recommendations & Content Discovery.
        </p>

        <p class="opacity4 text-bigger margin-tb1 text-center">...</p>

        <p class="opacity1  ">
          “Top Picks for you.” “Browse Matches.” “While you were away….” Go online and you’ll experience Content Discovery, and Recommendations with it, in some shape or form. Facebook’s algorithms decide which posts you’ll see. Your favorite publisher’s site uses algorithms to decide whether or not you’ll see certain articles. Tinder’s computers put in work to determine who they’ll let you swipe on.
        </p>
        <p class="opacity1 ">
          But today the spotlight is on Netflix and where the focus of user experience in their recommendation product is lacking.
        </p>

        <p class="opacity4 text-bigger margin-tb1 text-center">...</p>

        <h3 class="opacity1 margin-none-b ">
          1. Your Recommended ‘Top Picks’ is a list of at least 25 movies.
        </h3>
        <p class="opacity1 ">
          So you’ve just come home from a long day’s work. You sit down on the couch, ready to relax, and open up the Netflix app. You’re presented with a “sea of titles,” but Netflix’s recommendation is (supposed to be) a solution to that…
        </p>
        <p class="opacity1 ">
          Except there are over 25 recommendations there! So instead of hopping into a movie and hearing the lion’s roar you’re left reading descriptions, going over to IMDB & Rotten Tomatoes to learn more, and maybe even watching trailers. All just to get to your movie.
        </p>
        <p class="opacity1 ">
          Not only are you succumbing to the psychological effects of overchoice (however subtle they may be), but you’re also losing time sifting, sorting, and crawling through ratings and reviews. Subtract some points from your experience here. The demoters: mental energy, an ever so slight anxiety, and time. Before you know it you’ve become Antsy Ann. (See the picture at the top of the article for a detail you may have missed the first time).
        </p>

        <h3 class="opacity1 margin-none-b ">
          2. The point of a recommendation doesn’t fit in their 1–5 star rating scheme
        </h3>
        <p class="opacity1 ">
          While Netflix has scaled back its dependence on this classic recommender system staple, they’re still using these ratings to not only gain insight but also to show you how much they think you’ll like a movie. So they may predict that you’d like Reservoir Dogs 4.3 stars out of 5, and Grandma’s Boy 3.9 stars out of 5.
        </p>
        <p class="opacity1 ">
          But really, when you look at it as a consumer of Netflix, what is the real difference between 3.9 and 4.3 stars? Will you really be able to tangibly notice that .4 star difference? And doesn’t Netflix’s recommendation system have to be that much more amazingly accurate to be able to decide that you’ll notice the .4 star difference in the first place? Is it that amazingly accurate? And aren’t these movies different at their core and in so many other ways, making comparing the two ratings to one another an absolute mess? It’d be one thing if we were looking at the predicted ratings of two silly comedies or two dialogue driven crime dramas. But we’re not.
        </p>
        <p class="opacity1 ">
          And most importantly, think about what a movie recommendation product is ultimately there to do. Its purpose is to give you a movie that you’ll be happy you dedicated your time to — a movie that you simply enjoyed watching. Its not there to give you a movie that you liked marginally better than Grandma’s Boy. It’s not there to give you a movie that you liked ‘4.3 stars out of 5’. It’s just there to give you a movie that you’ll like. And in the long run there aren’t enough titles on Netflix that you’ll think are ‘4+ stars out of 5’ each time anyways.
        </p>

        <h3 class="opacity1 margin-none-b ">
          3. All robotic. No personal touch.
        </h3>
        <p class="opacity1 ">
          Algorithms, big data, data science, machine learning, AI. Computers. Only Netflix’s vast array of computers are making your picks for you. The real humans that are programming those computers are behind a very dense, complex, and robotic barrier between you and themselves.
        </p>
        <p class="opacity1 ">
          There isn’t really a direct layer of human touch built in to the product, and it comes across that way. Some recommendations leave people dumbfounded. Movies are just categorized with tags in a neat and orderly fashion, keeping you from sensing that messy yet quintessentially human aspect of subjectiveness in the product.
        </p>
        <p class="opacity1 ">
          Sure, Netflix has millions of users who are streaming an average of 55 hours per month. But there’s a way to blend human eyes and ears into the process in a more direct way. We’re seeing the beginning of this approach from other big products like Apple Music, who says that “algorithms can’t do it alone”. Apple Music staffers are getting their hands smack dab in the middle of the Music app’s ‘For You’ tab, directly implanting wonderfully relevant curated playlists and more. Apple’s 2014 acquisition of Beats was as much about absorbing this type of dogma from Jimmy Iovine and his team as it was to pick up the brand and marketing reach of Beats headphones.
        </p>

        <h3 class="opacity1 margin-none-b ">
          4. You can love Fantasia without being a kid
        </h3>
        <p class="opacity1 ">
          How well does Netflix’s computers know us? If they truly know us, would the suggestions made in the photo above ever happen? (Background for the photo: I’m in my twenties without a history of ever watching pure ‘Kids’ movies on the platform. I superimposed the Fantasia picture in the top left to make the picture tell the story better, but I assure you the rest is exactly how it looked as the Fantasia credits were rolling).
        </p>
        <p class="opacity1 ">
          Many would argue that Netflix has more than enough data to tell our basic demographic data. Pair that with my watching habits and viewing history and this much is clear: I’m not a child. I’m also not using Netflix to watch movies with kids of my own. Logically then, I’m watching Fantasia for other reasons, and just because I’m watching it doesn’t mean I want to watch any of the options pictured above (which Netflix probably has categorized as ‘Children/Kids’). With some more human intervention in the recommendation process, these options would be animated movies of some significance, like Up or The Nightmare Before Christmas.
        </p>

        <h3 class="opacity1 margin-none-b ">
          5. Your ‘Top Picks’ are an absolute scatter painting
        </h3>
        <p class="opacity1 ">
          Take another quick look at the screenshot that begins this post. Notice how different each of these movies are? It’s one thing to compare and make a choice based on a small set of similar movies. But Netflix’s Top Picks not only gives you choices with different genres; they also throw in both movies & TV shows and widely different generational focuses (Skins vs. Houdini). Your own mental decision making process for what to watch begins to parallel the all over the place scatter painting of options here.
        </p>

        <p class="opacity4 text-bigger margin-tb1 text-center">...</p>

        <p class="opacity1 ">
          We’ve seen here how much there is to be done to deliver a great movie recommendation experience. One that is fluid from beginning to end and is designed to get you right into watching a movie that is truly relevant for you. As the creator and owner of Sense, I’m tackling this opportunity head on.
        </p>
        <p class="opacity1 ">
          Send a text to (213)-297–3673 with either a movie that you liked and reasons why you liked it, or say ‘Quiz’ to answer a painstakingly designed, single, multiple choice quiz that asks you deep, intriguing things about a movie you’ve seen and liked in the past. That’s all we need to give you a movie to watch that’s truly relevant to you. And (surprise), all the movies we pick are available to watch on Netflix.
        </p>
        <p class="opacity1 ">
          At Sense we see a future where ‘movie recommendations’ are so relevant and reliable that they evolve to ‘movie decisions’. We’ll help make your movie decisions for you.
        </p>
        <p class="opacity1 text-bigger ">
          This is my first piece on the state of recommendations today. I plan to write many more. Please send me an email at jake@wemakesense.co with your thoughts about this piece, Sense, recommendations, or anything else. I’d love to hear from you and open up conversations.
        </p>
      </div>
    </div>
  </div>
</div>