<% content_for :title, "FAQs | Sense | Movie recomendations on-demand" %>
<% content_for :description, "Read our FAQS and find out how our service works" %>
<% content_for :headline, "Send a text to cut out Netflix clutter & get movie picks for you." %>
<div class="color-bg-primary">
  <div class="row">
    <div class="large-10 medium-10 small-10 columns small-centered">
      <div class="row padding-tb3">

        <h1 class="text-center text-light margin-none editable">FAQ</h1>

        <div class="large-6 medium-6 small-12 columns editable">
          <h4 class="margin-none padding-t2 text-light opacity1"><i class="fa fa-question-circle text-contrast opacity-full"></i> Where is Sense available?</h4>
          <p class="text-light margin-none-t opacity2">
            Sense is available to anyone with a US based phone number.  We’ll be looking into options for those in other countries.  In the meantime <a href="mailto:senseapphq@gmail.com">let us know</a> where you’d like Sense to be supported.
          </p>
          <h4 class="margin-none padding-t2 text-light opacity1"><i class="fa fa-question-circle text-contrast opacity-full"></i> Is my info safe?</h4>
          <p class="text-light margin-none-t opacity2">
            Absolutely.  Your phone number will never be sold or distributed.
          </p>
          <h4 class="margin-none padding-t2 text-light opacity1"><i class="fa fa-question-circle text-contrast opacity-full"></i> Can I unsubscribe from Sense?</h4>
          <p class="text-light margin-none-t opacity2">
            Of course! Just say ‘unsubscribe’ at any time.  We’ll then confirm and you won’t hear from us again unless you message us for more movie picks or movie help.
          </p>
          <h4 class="margin-none padding-t2 text-light opacity1"><i class="fa fa-question-circle text-contrast opacity-full"></i> How do I get my movie picks?</h4>
          <p class="text-light margin-none-t opacity2">
            Getting your movie picks with Sense is designed to be a simple, quick process.  When you message us for the first time, we’ll have you do one of two things:  Give us a movie you like and why you like it, or take our one question ‘MultiChoice’ quiz about a popular movie.  This is all the info we need in order to give you a movie that’s truly relevant to you.
          </p>
          <p class="text-light opacity2">
            To get more picks, ask at any point after your first movie.  New picks will be determined using the same method described above.
          </p>
        </div>

        <div class="large-6 medium-6 small-12 columns editable">
          <h4 class="margin-none padding-t2 text-light opacity1"><i class="fa fa-question-circle text-contrast opacity-full"></i> Netflix has recommendations already.  Why should I use Sense?</h4>
          <p class="text-light margin-none-t opacity2">
            Netflix does give you recommendations.  They give you tons of them--usually a minimum of 25 movies.  So deciding on a movie is still extremely tough.  You’ll probably find yourself doing a research paper’s worth of analysis, sifting and sorting through those recommendations.  You’ll go to IMDB, Rotten Tomatoes, and Google.  You’ll read descriptions, watch trailers, scan ratings, and before you know it fifteen minutes has gone by.  And you still aren’t watching a movie yet.
          </p>
          <p class="text-light opacity2">
            Sense gives you a single option at a time.  Since we give you a trailer and a link to the movie in Netflix, you don’t have to do much other than sit down and start enjoying.
          </p>
          <h4 class="margin-none padding-t2 text-light opacity1"><i class="fa fa-question-circle text-contrast opacity-full"></i> What if I don’t like my Sense pick?</h4>
          <p class="text-light margin-none-t opacity2">
            Easy.  Just tell us!  We’ll give you a trailer with each pick so you can get a sense of the movie before you watch it.  If you’re not feeling the trailer, say it, and we’ll get something that’ll suit you better.  You can also let us know what you thought after you watch your movie--good or bad--and we’ll use that info to better tailor your next and future picks.
          </p>
        </div>
      </div>
      <h3 class="text-center text-light no-margin padding-tb1 editable">Can't find the answer your looking for? Send us an <a href="mailto:jake@wemakesense.co">email</a>.</h3>
    </div>
  </div>
</div>
<!-- end faq -->
