<!-- footer -->
  <footer class="color-bg-primary text-light padding-tb1">
    <div class="row">

      <div class="large-8 medium-6 small-12 columns small-centered">
        <div style="width:128px;" class="center editable">
          <a href="/"><h1 class="text-center margin-none"><%= image_tag('sense_256@2x.png', class: "retina", alt: "Sense Logo")%></h1></a>
        </div>
        <p class="text-center editable">
          <a class="margin-lr05" href="/">Home</a>
          <a class="margin-lr05" href="<%=about_path%>">About</a>
          <a class="margin-lr05" href="<%=faq_path%>">FAQ</a>
          <a class="margin-lr05" href="mailto:jake@wemakesense.co">Contact</a>
          <a class="margin-lr05" href="<%=legal_path%>">Legal</a>
        </p>
        <p class="text-center editable">
          <a class="margin-lr1" target="_blank" href="https://www.facebook.com/HeySense/?fref=ts"><i class="fa fa-facebook-square opacity1"></i></a>
          <a class="margin-lr1" target="_blank" href="https://www.instagram.com/wemakesense/"> <i class="fa fa-instagram opacity1"></i></a>
          <a class="margin-lr1" target="_blank" href="https://twitter.com/heysense"><i class="fa fa-twitter-square opacity1"></i></a>
        </p>
        <div class="margin-t2">
          <p class="text-center margin-none text-bigger text-contrast text-letterspacing button-small full color-bg-primary-600 editable">(213)-297-3673</p>
        </div>
        <div class="mobile-only margin-t05">
          <a class="button full color-bg-contrast text-dark text-center text-bold mobile-only editable" href="sms:2132973673&body=Hey Sense, I need a movie!">Get Started</a>
        </div>
      </div>

      <div class="small-11 small-centered columns">
        <p class="text-smallest opacity4 text-center padding-t4 editable">
          Sense is the star product of Sense Technologies, Inc.. Contact us at hq@wemakesense.co. Your phone number will not be sold or distributed.

          Sense is not endorsed, moderated, owned by or affiliated with Netflix, IMDB, Rotten Tomatoes or any of their partners in any capacity. The owner of this site also has no affiliation with Netflix, IMDB, or Rotten Tomatoes.  All promotional material including but not limited to trailers, images and videos are all copyright to their respective owners. Netflix, IMDB, & Rotten Tomatoes are registered trademarks of Netflix, Inc., IMDB.com, Inc., and Flixster, Inc.
        </p>
        <p class="text-smaller opacity4 text-center editable">
          Copyright © 2016, All rights reserved.
        </p>
      </div>

    </div>
  </footer>
  <!-- end footer -->



  <!-- <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()</script> -->

  <!-- begin olark code -->
  <script data-cfasync="false" type='text/javascript'>/*<![CDATA[*/window.olark||(function(c){var f=window,d=document,l=f.location.protocol=="https:"?"https:":"http:",z=c.name,r="load";var nt=function(){
  f[z]=function(){
  (a.s=a.s||[]).push(arguments)};var a=f[z]._={
  },q=c.methods.length;while(q--){(function(n){f[z][n]=function(){
  f[z]("call",n,arguments)}})(c.methods[q])}a.l=c.loader;a.i=nt;a.p={
  0:+new Date};a.P=function(u){
  a.p[u]=new Date-a.p[0]};function s(){
  a.P(r);f[z](r)}f.addEventListener?f.addEventListener(r,s,false):f.attachEvent("on"+r,s);var ld=function(){function p(hd){
  hd="head";return["<",hd,"></",hd,"><",i,' onl' + 'oad="var d=',g,";d.getElementsByTagName('head')[0].",j,"(d.",h,"('script')).",k,"='",l,"//",a.l,"'",'"',"></",i,">"].join("")}var i="body",m=d[i];if(!m){
  return setTimeout(ld,100)}a.P(1);var j="appendChild",h="createElement",k="src",n=d[h]("div"),v=n[j](d[h](z)),b=d[h]("iframe"),g="document",e="domain",o;n.style.display="none";m.insertBefore(n,m.firstChild).id=z;b.frameBorder="0";b.id=z+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){
  b.src="javascript:false"}b.allowTransparency="true";v[j](b);try{
  b.contentWindow[g].open()}catch(w){
  c[e]=d[e];o="javascript:var d="+g+".open();d.domain='"+d.domain+"';";b[k]=o+"void(0);"}try{
  var t=b.contentWindow[g];t.write(p());t.close()}catch(x){
  b[k]=o+'d.write("'+p().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}a.P(2)};ld()};nt()})({
  loader: "static.olark.com/jsclient/loader0.js",name:"olark",methods:["configure","extend","declare","identify"]});
  /* custom configuration goes here (www.olark.com/documentation) */
  olark.identify('8913-968-10-3070');/*]]>*/</script><noscript><a href="https://www.olark.com/site/8913-968-10-3070/contact" title="Contact us" target="_blank">Questions? Feedback?</a> powered by <a href="http://www.olark.com?welcome" title="Olark live chat software">Olark live chat software</a></noscript>
  <!-- end olark code -->